/* Document */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    background-color: white;
    font-family: "Work Sans";
}

main {
    display: grid;
    grid-template-columns: 12% auto;
}

h1 {
    font-size: 4rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
    font-family: "Tilt Warp";
    padding-bottom: 2rem;
    color: darkolivegreen;
}

h2 {
    font-size: 2rem;
}

#jump-to-top {
    height: 50px;
    width: 50px;
    font-size: 2rem;
    border-radius: 10px;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 1;
    display: none;
}

#jump-to-top:hover {
    cursor: pointer;
    background-color: darkgray;
}

/* Header */
header {
    margin-bottom: 2%;
    padding-bottom: 1px;
    background-image: 
    linear-gradient(to left, darkgray, white, white);
}

header img {
    padding: 20px;
}

header nav {
    text-align: right;
    padding-right: 1%;
    background-color: white;
    margin-bottom: 1px;
}

nav li {
    display: inline-block;
    padding-right: 1rem;
    padding: 2rem;
    font-size: 1.15rem;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:visited {
    color: black;
}

.nav-btn:hover {
    background-color:honeydew;
    cursor: pointer;
}

.active {
    border-bottom: 3px solid darkolivegreen;
}

.active a {
    color:darkolivegreen!important;
}

.inactive {
    border: none;
}

/* Contact Section */
#contact {
    text-align: center;
    margin: 5% 0;
    padding-top: 10rem;
}

#contact ul {
    list-style-type: none;
}

#contact li {
    padding-top: .25rem;
    padding-bottom: 2.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

#contact a {
    color: black;
}

/* About Section */
#about {
    display: grid;
    grid-template-columns: 3fr 1.25fr;
    height: 28rem;
    margin-right: 5%;
}

#grid-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#about img {
    width: 100%;
}

#grid-right {
    display: flex;
    align-items: center;
}

/* Projects Section */
#projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project {
    margin-bottom: 2rem;
    margin-right: 2rem;
    width: 90%;
}

.project p {
    padding-top: .5rem;
}

.project img {
    width: 100%;
    border: .5px solid gray;
}

.project a {
    
}
/* Resume Section */