/* Document */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    background-color: white;
    font-family: "Work Sans";
}

body {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
}

main {
    display: grid;
    grid-template-columns: 12% auto;
}

h1 {
    font-size: 4rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
    font-family: "Tilt Warp";
    padding-bottom: 1rem;
    color: darkolivegreen;
}

h2 {
    font-size: 2rem;
    padding-bottom: 10px;;
}

#jump-to-top {
    height: 50px;
    width: 50px;
    font-size: 2rem;
    border-radius: 10px;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 1;
    display: none;
}

#jump-to-top:hover {
    cursor: pointer;
    background-color: darkgray;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

/* Header */
header {
    margin-bottom: 2%;
    padding-bottom: 1px;
    background-image: 
    linear-gradient(to left, darkgray, white, white);
}

header img {
    padding: 20px;
}

header nav {
    text-align: right;
    padding-right: 1%;
    background-color: white;
    margin-bottom: 1px;
}

nav li {
    display: inline-block;
    padding-right: 1rem;
    padding: 2rem;
    font-size: 1.15rem;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:visited {
    color: black;
}

.nav-btn:hover {
    background-color:honeydew;
    cursor: pointer;
}

.active {
    border-bottom: 3px solid darkolivegreen;
}

.active a {
    color:darkolivegreen!important;
}

.inactive {
    border: none;
}

/* Contact Section */
#contact {
    text-align: center;
    margin: 5% 0;
    padding-top: 10rem;
}

#contact ul {
    list-style-type: none;
}

#contact li {
    padding-top: .25rem;
    padding-bottom: 2.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

#contact a {
    color: black;
}

/* About Section */
#about {
    height: 28rem;
    margin-right: 5%;
    overflow: scroll;
    position: relative;
}

#aboutGrid {
    display: grid;
    grid-template-columns: 3fr 1.75fr;
}

#mobile_img {
    display: none;
}

#grid-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about img {
    width: 100%;
}

.gridSkills {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px 0;
  }  

#grid-right {
    display: flex;
    align-items: flex-start;
}

#trainingList {
    list-style-position: inside;
    margin-top: 10px;
}

#trainingList li {
    margin-bottom: 7px;
}

/* Projects Section */
#projects {
    overflow: scroll;
    position: relative;
    height: 28rem;
}

#projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project {
    margin-bottom: 2rem;
    margin-right: 2rem;
    width: 90%;
}

.project p {
    padding-top: .5rem;
}

.project img {
    width: 100%;
    border: .5px solid gray;
}

.project a {
    font-weight: bold;
    color: darkolivegreen
}

.project a:visited {
    color: darkolivegreen;
}

/* Resume Section */
#resume {
    overflow: scroll;
    position: relative;
    height: 500px;
}

@media only screen and (max-width: 1014px) {
    h1 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 2.75rem;
    }
}

@media only screen and (max-width: 740px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #about {
        grid-template-columns: 100% auto;
    }

    #about table {
        display: none;
    }

    #grid-right {
        display: none;
    }

    #mobile_img {
        display: block;
    }

    #about img {
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }

    #projects-grid {
        display: block;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    nav li {
        font-size: 1rem;
        padding: 1rem;
    }

    header {
        background-image: none;
    }

    #resume-iframe {
        width: 80vw;
    }
}